<!DOCTYPE html>
<html>
<head>
  <title>My Developer Experience</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#experience">Experience</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section id="about">
      <h2>About Me</h2>
      <p>My name is S'Bussiso Dube and I am a 22 year old passionate developer with roughly seven or eight years of programming experience total. It's been a fun hobby of mine since I was a child. I have experience with a variety of programming languages and frameworks.</p>
      <p>I am most proficient and have built many applications and services in Python but am also familiar with other scripting languages like JavaScript and C# for example. I also have experience working with frameworks like bootstrap, flask, FastAPI, Tensorflow, and pandas to name a few.</p>
      <p>I am well familiar with the software development life cycle from scripting to deployment and testing.</p>
      <p>I'm always eager to learn and improve my skills so I can make better and more useful software for myself and others. I am always willing to pick up something new and learn it quickly.</p>
      <p>Machine Learning projects are by far my favorite to work on and excite me the most due to the ever rapidly increasing potential and part of the reason python is my favorite and most proficient language. I enjoy finding new ways to use and make MLM's, I've made and deployed multiple useful applications using them.</p>
      <p>I am familiar with services and platforms like Huggingface, AWS, and Microsoft Azure to name a few and enjoy using them. My personal cloud preference is Azure.</p>
      <p>In my free time I like to work on personal projects, game, and practice Taekwondo. I also enjoy other hobbies like working with raspberry pi and Arduino boards.</p>
      <p>I am a team player and enjoy working collaboratively with others to build innovative solutions. I am committed to delivering high-quality code that is clean, efficient, and scalable.</p>
      <p>I am constantly striving to improve my skills and take on new challenges, and I believe that my passion for software development will help me excel in any project or role.</p>
    </section>
    <section id="experience">
      <h2>Experience</h2>
      <ul>
        <h3>Inventory Control Quality Assurance</h3>
        <p><strong>The Home Depot</strong>, Aug 2021 - Current day</p>
        <ul>
          <li>using various custom in house software systems and SQL to make informed product decisions.</li>
          <li>working with very large amounts of Excel data to make informed product decisions</li>
          <li>listening to and responding to associate feedback and recomendations.</li>
          <li>Managing and collaborating with groups of people to achieve a specific goal or solve a problem.</li>
          <li>Finding quick innovative solutions to time sensitive problems and short deadlines</li>
        </ul>
      </ul>
      <ul>
        <h3>Foundational C# with Microsoft</h3>
        <p><strong>Microsoft and FreeCodeCamp</strong>, February 13, 2024</p>
        <ul>
          <li><strong>Course Description: </strong>This course offers a comprehensive introduction to C# programming, covering its core concepts, syntax, and practical application in software development. Through hands-on exercises and projects, you will learn the fundamentals of C#, including variables, data types, control structures, and object-oriented programming principles. By the end of this course, you will have gained the practical skills and knowledge needed to confidently leverage C# for building applications.</li>
        </ul>
        <a href="https://www.freecodecamp.org/certification/sbussiso/foundational-c-sharp-with-microsoft">View Certification here</a>
      </ul>
      <ul>
        <h3>JavaScript Algorithms and Data Structures</h3>
        <p><strong>FreeCodeCamp</strong>, December 5, 2023</p>
        <ul>
          <li><strong>Course Description: </strong>Developers use HTML and CSS to control the content and styling of a page. And they use JavaScript to make that page interactive. In this JavaScript Algorithm and Data Structures Certification, you'll learn the JavaScript fundamentals like variables, arrays, objects, loops, functions, the DOM and more. You'll also learn about Object Oriented Programming (OOP), Functional Programming, algorithmic thinking, how to work with local storage, and how to fetch data using an API.</li>
        </ul>
        <a href="https://www.freecodecamp.org/certification/sbussiso/javascript-algorithms-and-data-structures">View Certification here</a>
      </ul>
      <ul>
        <h3>Scientific Computing with Python</h3>
        <p><strong>FreeCodeCamp</strong>, December 5, 2023</p>
        <ul>
          <li><strong>Course Description: </strong>Python is one of the most popular, flexible programming languages today. You can use it for everything from basic scripting to machine learning. In the Scientific Computing with Python Certification, you'll learn Python fundamentals like variables, loops, conditionals, and functions. Then you'll quickly ramp up to complex data structures, networking, relational databases, and data visualization.</li>
        </ul>
        <a href="https://www.freecodecamp.org/certification/sbussiso/scientific-computing-with-python-v7">View Certification here</a>
      </ul>
      <ul>
        <h3>Data Analysis with Python</h3>
        <p><strong>FreeCodeCamp</strong>, October 31, 2023</p>
        <ul>
          <li><strong>Course Description: </strong>Data Analysis has been around for a long time. But up until a few years ago, developers practiced it using expensive, closed-source tools like Tableau. But recently, Python, SQL, and other open libraries have changed Data Analysis forever. In the Data Analysis with Python Certification, you'll learn the fundamentals of data analysis with Python. By the end of this certification, you'll know how to read data from sources like CSVs and SQL, and how to use libraries like Numpy, Pandas, Matplotlib, and Seaborn to process and visualize data.</li>
        </ul>
        <a href="https://www.freecodecamp.org/certification/sbussiso/data-analysis-with-python-v7">View Certification here</a>
      </ul>
      <ul>
        <h3>Machine Learning with Python</h3>
        <p><strong>FreeCodeCamp</strong>, November 5, 2023</p>
        <ul>
          <li><strong>Course Description: </strong>Machine learning has many practical applications that you can use in your projects or on the job. In the Machine Learning with Python Certification, you'll use the TensorFlow framework to build several neural networks and explore more advanced techniques like natural language processing and reinforcement learning. You'll also dive into neural networks, and learn the principles behind how deep, recurrent, and convolutional neural networks work.</li>
        </ul>
        <a href="https://www.freecodecamp.org/certification/sbussiso/machine-learning-with-python-v7">View Certification here</a>
      </ul>
    </section>
    <section id="skills">
      <h2>Skills</h2>
      <ul>
        <li>Group collaboration</li>
        <li>Management/Leadership</li>
        <li>Working with custom software tools and systems</li>
        <li>Learning new skills necessary to achieve goals</li>
        <li>Python</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>Bootstrap</li>
        <li>SQL</li>
        <li>JSON API</li>
        <li>Machine Learning</li>
        <li>Data Analysis</li>
        <li>C#</li>
        <li>TensorFlow</li>
        <li>LangChain</li>
        <li>API's</li>
        <li>FastAPI</li>
        <li>Serverless Computing</li>
        <li>Azure Functions</li>
        <li>AWS Lambda</li>
        <li>PostgreSQL</li>
        <li>continuous integration and continuous delivery/deployment</li>
        <li>AWS CodePipeline</li>
        <li>ElasticBeanstalk</li>
        <li>Docker</li>
        <li>AWS CodeBuild</li>
        <li>AWS Relational Database Service</li>
      </ul>
    </section>
    <section>
      <h2>Featured</h2>
      <ul>
        <h3><a href="https://github.com/Sbussiso/SourceBox-official-webpage.git">SourceBox (link)</a></h3>
        <!--insert picture here-->
        <img src="{{ url_for('static', filename='images/sourcebox-web-pic.PNG') }}" alt="Front of SourceBox Webpage" class="responsive-img">
        <br/>
          <li><a href="https://calm-chamber-11838-cf27538d4063.herokuapp.com/">view website here</a></li>
          <p>SourceBox is a cloud hybrid PaaS for bridging the gap between local LLM's and cloud interaction with a focus on local interaction. Use Your own local models with any SourceBox hosted application (called "Demos"). Besides Demos SourceBox also offers a variety of services related to RAG and fine tuning. Simply hook up your model to the SourceBox platform or create one in the cloud and download for full local usage. </p>
          <li>
            <ul>
              <li>OpenAI</li>
              <li>Huggingface</li>
              <li>LangChain</li>
              <li>Gmail API</li>
              <li>python</li>
              <li>HTML</li>
              <li>css</li>
              <li>JavaScript</li>
              <li>Bootstrap</li>
              <li>JSON</li>
              <li>Ollama API</li>
              <li>PostgreSQL</li>
              <li>etc...</li>
            </ul>
          </li>
          
          
      </ul>
    </section>
    <section id="projects">
      <h2>TensorFlow</h2>
      <ul>
        <h3><a href="https://colab.research.google.com/drive/10eSXjg2CMW4s_gDD5JpBdC3qJOT3_Tl6?usp=sharing">Cat and Dog image Classifier (link)</a></h3>
        <p>This project is an image classifier that uses a pre trained model to classify images of cats and dogs. This project was made to experiment with building and training image classifier models using tensorflow in google colab</p>
        <li>
          <ul>
            <li>Python</li>
            <li>Tensorflow</li>
            <li>Machine Learning Frameworks</li>
            <li>Data Analysis</li>
          </ul>
        </li>
        <h3><a href="https://colab.research.google.com/drive/1wELBiEvYVDVs4N5UhlUkw6XBkKJKeh2C?usp=sharing">Book recommendations using KNN (link)</a></h3>
        <p>This project is a book recommendation system that uses a KNN model to recommend books. This project was made to learn how to build and train recommendation models in google colab</p>
        <li>
          <ul>
            <li>Python</li>
            <li>scikit-learn</li>
            <li>Machine Learning Frameworks</li>
            <li>Data Analysis</li>
          </ul>
        </li>
      </ul>
      <ul>
        <h3><a href="https://colab.research.google.com/drive/1mMLmXLXoKXyXcAEfAHz-S2ONP8gXFeP5?usp=sharing">Health costs with regression model (link)</a></h3>
        <p>This project was a challenge by FreeCodeCamp to create a model using regression to predict the health costs of an individual based on characteristics of the individual (biological sex?, smoker?, etc.)</p>
        <li>
          <ul>
            <li>Python</li>
            <li>Tensorflow</li>
            <li>matplotlib</li>
            <li>Google Colab</li>
            <li>Pandas</li>
            <li>Data Analysis</li>
          </ul>
        </li>
      </ul>
      <ul>
        <h3><a href="https://colab.research.google.com/drive/1b1rDzOyaVoI77jCv9Znuix46wlkFjiR9?usp=sharing">Tensorflow Fashion Image Model (link)</a></h3>
        <p>This project was created to practice building and working with image classifier models</p>
        <li>
          <ul>
            <li>Python</li>
            <li>Tensorflow</li>
            <li>matplotlib</li>
            <li>Google Colab</li>
            <li>Pandas</li>
            <li>Data Analysis</li>
          </ul>
        </li>
      </ul>
    </section>
    <section>
      <h2>API's</h2>
      <ul>
        <h3><a href="https://github.com/Sbussiso/lang-base-trader.git">Coinbase Trading API with FastAPI (link)</a></h3>
        <p>This project uses FastAPI to utilize the Coinbase Advanced Trade API to simplify API calling to use with crypto trading algorithms. The API also does more than just simplify api endpoints, it also has other trading tools, calculations and indicators such as RSI, dominant buy or sell pressure, moving averages, etc. In the future Langchain will be used to incorporate GPT-3 for more usefullness and added trading calculations.</p>
        <p>(skills):</p>
        <li>
          <ul>
            <li>Python</li>
            <li>FastAPI</li>
            <li>Coinbase Advanced Trade API</li>
            <li>Pandas</li>
            <li>Data Analysis</li>
            <li>Async programming</li>
          </ul>
        </li>
      </ul>
      <br/>
      <ul>
        <h3><a href="https://github.com/Sbussiso/sourcebox-langserve.git">Central Chat LLM API with Langserve and FastAPI (link)</a></h3>
        <p>The idea for this project was to have one central place to call chat LLM's as oposed to multiple setups in multiple scripts and applications simplifying the access and usage of llms from a developer standpoint. Each endpoint is fine tuned for specific to general usecases from traditional responses to sumarizing text, responding to customers, and generating Tweets. </p>
        <p>(predicted skills):</p>
        <li>
          <ul>
            <li>Python</li>
            <li>FastAPI</li>
            <li>OpenAI</li>
            <li>Anthropic</li>
            <li>Machine Learning</li>
            <li>Pandas</li>
            <li>Data Analysis</li>
            <li>Async programming</li>
          </ul>
        </li>
      </ul>
      <br/>
      <ul>
        <h3><a href="https://github.com/Sbussiso/fastapi-auth-example.git">User Authentication API with FastAPI (link)</a></h3>
        <p>This project uses FastAPI for a user authentication system that can be used on multiple applications and services instead of setting up authentciation each time for each application streamlining security.</p>
        <p>(skills):</p>
        <li>
          <ul>
            <li>Python</li>
            <li>FastAPI</li>
            <li>Pandas</li>
            <li>Data Analysis</li>
            <li>Async programming</li>
          </ul>
        </li>
      </ul>
    </section>
    <section>
      <h2>Hardware</h2>
      <ul>
        <h3><a href="https://github.com/Sbussiso/pi-curity.git">Raspberry Pi Home Security System (link)</a></h3>
        <!--insert picture here-->
        <img src="{{ url_for('static', filename='images/security-cam-project.jpg') }}" alt="security camera setup" class="responsive-img">
        <img src="{{ url_for('static', filename='images/green-motion-box.png') }}" alt="security camera motion detection example" class="responsive-img">
        <br/>
        <p>This is a home security system built using a raspberry pi, python, and a usb camera. This project uses OpenCV to detect motion and record video footage when it is detected. The video is then stored localy in the directory and accessed thru the video manager. It will then notify the user(s) thru an SMS message.</p>
        <li>Python</li>
        <li>Raspberry Pi</li>
        <li>Computer Vision</li>
        <li>OpenCV</li>
        <li>Flask</li>
      </ul>
    </section>
    <section id="projects2">
      <h2>Other Projects</h2>
      <ul>
        <h3><a href="https://github.com/Sbussiso/aws-ebs-deploy-test.git">Flask transaction recorder with PostgreSQL</a></h3>
        <p>This is a template site to setup and record data to a PostGreSQL database.</p>
        <img src="{{ url_for('static', filename='images/projectcapture2.PNG') }}" alt="website example" class="responsive-img">
        <img src="{{ url_for('static', filename='images/project-screenshot.PNG') }}" alt="console example" class="responsive-img">
        <li>
          <ul>
            <li>Python</li>
            <li>PostGreSQL</li>
            <li>Databases</li>
            <li>Data Analysis</li>
            <li>Flask</li>
          </ul>
        </li>
      </ul>
      <br/>
      <ul>
        <h3><a href="https://github.com/Sbussiso/ML-Confidentiality-Detector.git">SecretML (link)</a></h3>
        <p>This Model is built and trained to read text to flag and identify potentially sensitive/classified information. This project can be used to avoid potentially sensitive data leaks, or find and exploit them.</p>
        <li>
          <ul>
            <li>Python</li>
            <li>Excel</li>
            <li>Machine Learning Frameworks</li>
            <li>Data Analysis</li>
          </ul>
        </li>
      </ul>
      <br/>
      <ul>
        <h3><a href="https://github.com/Sbussiso/developer_resume_website.git">This website (link)</a></h3>
        <p>This website was made to double as my resume and a project using html,css, and javaScript.</p>
        <li>
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
          </ul>
        </li>
      </ul>
      <br/>
      <ul>
        <h3><a href="https://colab.research.google.com/drive/1VdO__1gfyyEEJ_lzQB86aJD0ZTZzo3_X?usp=sharing">Data Cleaning With Pandas (link)</a></h3>
        <p>This project was made to practice cleaning and manipulating data with pandas.</p>
        <li>
          <ul>
            <li>Python</li>
            <li>Excel</li>
            <li>Google Colab</li>
            <li>Pandas</li>
            <li>Data Analysis</li>
          </ul>
        </li>
      </ul>
      <br/>
      <ul>
        <h3><a href="https://github.com/Sbussiso/c-sharp-fantasy-text-adventure">C# Fantasy Text Adventure (link)</a></h3>
        <p><a href="https://miro.com/app/board/uXjVNBcWu0E=/?share_link_id=375407775521">View choice map here</a></p>
        <p>This project was made to further develop and hone my C# skills. This is a DND style text adventure game with choices, battles, puzzles, and dice rolls played in the command line console.</p>
        <li>
          <ul>
            <li>C#</li>
          </ul>
        </li>
      </ul>
      
    </section>
    <section>
      <ul><h3><a href="https://github.com/Sbussiso?tab=repositories">View even more projects on my GitHub here!</a></h3></ul>
    </section>
    <section id="contact">
      <h2>Contact Me</h2>
      <p>Email: <a href="mailto:sbussiso_dev@protonmail.com">sbussiso_dev@protonmail.com</a></p>
      <p>Phone: 360-280-6070</p>
    </section>
  </main>
  <footer>
    <p>© 2023 S'Bussiso Dube</p>
  </footer>
  <!-- The Modal -->
  <div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <h1>Status: Accepting employment opportunity and <a href="#">Freelance Requests.</a></h1>
    </div>
  </div>
  <!--popup javascript-->
  <script>
    window.onload = function() {
      var modal = document.getElementById("myModal");
      var span = document.getElementsByClassName("close")[0];
      modal.style.display = "block";
      span.onclick = function() {
        modal.style.display = "none";
      }
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    }
  </script>
</body>
</html>

