<!DOCTYPE html>
<html>
<head>
  <title>My Developer Experience</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
  <main>
    <br/>
    <br/>
    <div class="accordion" id="accordionAboutMe">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAboutMe" aria-expanded="true" aria-controls="collapseAboutMe">
            About Me
          </button>
        </h2>
        <div id="collapseAboutMe" class="accordion-collapse collapse show" data-bs-parent="#accordionAboutMe">
          <div class="accordion-body">
            <p>My name is S'Bussiso Dube and I am a 22-year-old passionate developer with roughly seven or eight years of programming experience total. It's been a fun hobby of mine since I was a child. I have experience with a variety of programming languages and frameworks.</p>
            <p>I am most proficient and have built many applications and services in Python but am also familiar with other scripting languages like JavaScript and C# for example. I also have experience working with frameworks like bootstrap, flask, FastAPI, Tensorflow, and pandas to name a few.</p>
            <p>I am well familiar with the software development life cycle from scripting to deployment and testing.</p>
            <p>I'm always eager to learn and improve my skills so I can make better and more useful software for myself and others. I am always willing to pick up something new and learn it quickly.</p>
            <p>Machine Learning projects are by far my favorite to work on and excite me the most due to the ever rapidly increasing potential and part of the reason python is my favorite and most proficient language. I enjoy finding new ways to use and make MLM's, I've made and deployed multiple useful applications using them.</p>
            <p>I am familiar with services and platforms like Huggingface, AWS, and Microsoft Azure to name a few and enjoy using them. My personal cloud preference is Azure.</p>
            <p>In my free time I like to work on personal projects, game, and practice Taekwondo. I also enjoy other hobbies like working with raspberry pi and Arduino boards.</p>
            <p>I am a team player and enjoy working collaboratively with others to build innovative solutions. I am committed to delivering high-quality code that is clean, efficient, and scalable.</p>
            <p>I am constantly striving to improve my skills and take on new challenges, and I believe that my passion for software development will help me excel in any project or role.</p>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <br/>
    <br/>
    <div class="accordion" id="accordionExperience">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExperience" aria-expanded="true" aria-controls="collapseExperience">
            Experience
          </button>
        </h2>
        <div id="collapseExperience" class="accordion-collapse collapse show" data-bs-parent="#accordionExperience">
          <div class="accordion-body">
            <ul>
              <h3>Inventory Control Quality Assurance</h3>
              <p><strong>The Home Depot</strong>, Aug 2021 - Current day</p>
              <ul>
                <li>Using various custom in-house software systems and SQL to make informed product decisions.</li>
                <li>Working with very large amounts of Excel data to make informed product decisions.</li>
                <li>Listening to and responding to associate feedback and recommendations.</li>
                <li>Managing and collaborating with groups of people to achieve a specific goal or solve a problem.</li>
                <li>Finding quick innovative solutions to time-sensitive problems and short deadlines.</li>
              </ul>
            </ul>
            <ul>
              <h3>Foundational C# with Microsoft</h3>
              <p><strong>Microsoft and FreeCodeCamp</strong>, February 13, 2024</p>
              <ul>
                <li><strong>Course Description: </strong>This course offers a comprehensive introduction to C# programming, covering its core concepts, syntax, and practical application in software development. Through hands-on exercises and projects, you will learn the fundamentals of C#, including variables, data types, control structures, and object-oriented programming principles. By the end of this course, you will have gained the practical skills and knowledge needed to confidently leverage C# for building applications.</li>
              </ul>
              <a href="https://www.freecodecamp.org/certification/sbussiso/foundational-c-sharp-with-microsoft">View Certification here</a>
            </ul>
            <ul>
              <h3>JavaScript Algorithms and Data Structures</h3>
              <p><strong>FreeCodeCamp</strong>, December 5, 2023</p>
              <ul>
                <li><strong>Course Description: </strong>Developers use HTML and CSS to control the content and styling of a page. And they use JavaScript to make that page interactive. In this JavaScript Algorithm and Data Structures Certification, you'll learn the JavaScript fundamentals like variables, arrays, objects, loops, functions, the DOM and more. You'll also learn about Object-Oriented Programming (OOP), Functional Programming, algorithmic thinking, how to work with local storage, and how to fetch data using an API.</li>
              </ul>
              <a href="https://www.freecodecamp.org/certification/sbussiso/javascript-algorithms-and-data-structures">View Certification here</a>
            </ul>
            <ul>
              <h3>Scientific Computing with Python</h3>
              <p><strong>FreeCodeCamp</strong>, December 5, 2023</p>
              <ul>
                <li><strong>Course Description: </strong>Python is one of the most popular, flexible programming languages today. You can use it for everything from basic scripting to machine learning. In the Scientific Computing with Python Certification, you'll learn Python fundamentals like variables, loops, conditionals, and functions. Then you'll quickly ramp up to complex data structures, networking, relational databases, and data visualization.</li>
              </ul>
              <a href="https://www.freecodecamp.org/certification/sbussiso/scientific-computing-with-python-v7">View Certification here</a>
            </ul>
            <ul>
              <h3>Data Analysis with Python</h3>
              <p><strong>FreeCodeCamp</strong>, October 31, 2023</p>
              <ul>
                <li><strong>Course Description: </strong>Data Analysis has been around for a long time. But up until a few years ago, developers practiced it using expensive, closed-source tools like Tableau. But recently, Python, SQL, and other open libraries have changed Data Analysis forever. In the Data Analysis with Python Certification, you'll learn the fundamentals of data analysis with Python. By the end of this certification, you'll know how to read data from sources like CSVs and SQL, and how to use libraries like Numpy, Pandas, Matplotlib, and Seaborn to process and visualize data.</li>
              </ul>
              <a href="https://www.freecodecamp.org/certification/sbussiso/data-analysis-with-python-v7">View Certification here</a>
            </ul>
            <ul>
              <h3>Machine Learning with Python</h3>
              <p><strong>FreeCodeCamp</strong>, November 5, 2023</p>
              <ul>
                <li><strong>Course Description: </strong>Machine learning has many practical applications that you can use in your projects or on the job. In the Machine Learning with Python Certification, you'll use the TensorFlow framework to build several neural networks and explore more advanced techniques like natural language processing and reinforcement learning. You'll also dive into neural networks, and learn the principles behind how deep, recurrent, and convolutional neural networks work.</li>
              </ul>
              <a href="https://www.freecodecamp.org/certification/sbussiso/machine-learning-with-python-v7">View Certification here</a>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <br/>
    <div class="accordion" id="accordionProjects">
      <h2>Projects</h2>
      <h3>Check out more work not featured here on my <a href="https://github.com/Sbussiso" target="_blank">Github</a></h3>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSourceBox" aria-expanded="true" aria-controls="collapseSourceBox">
            SourceBox
          </button>
        </h2>
        <div id="collapseSourceBox" class="accordion-collapse collapse show" data-bs-parent="#accordionProjects">
          <div class="accordion-body">
            <h3><a href="https://github.com/Sbussiso/SourceBox-official-website.git">SourceBox (link)</a></h3>
            <img src="{{ url_for('static', filename='images/sourcebox-web-pic.PNG') }}" alt="Front of SourceBox Webpage" class="responsive-img">
            <br/>
            <li><a href="https://sourcebox-official-website-9f3f8ae82f0b.herokuapp.com">view website here</a></li>
            <p>SourceBox is a cloud hybrid PaaS for bridging the gap between local LLM's and cloud interaction with a focus on local interaction. Use Your own local models with any SourceBox hosted application (called "Demos"). Besides Demos SourceBox also offers a variety of services related to RAG and fine tuning. Simply hook up your model to the SourceBox platform or create one in the cloud and download for full local usage.</p>
            <p>For a More In-Depth View, <a href="https://miro.com/app/board/uXjVKqQGVYs=/" target="_blank">Diagram Here</a></p>
            <li>
              <ul>
                <li>OpenAI</li>
                <li>Huggingface</li>
                <li>LangChain</li>
                <li>Gmail API</li>
                <li>Python</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>Bootstrap</li>
                <li>JSON</li>
                <li>Ollama API</li>
                <li>PostgreSQL</li>
                <li>etc...</li>
              </ul>
            </li>
            <br/>
            <h3><a href="https://github.com/Sbussiso/sourcebox-central-auth.git">SourceBox Central Database and User Authentication(link)</a></h3>
            <img src="{{ url_for('static', filename='images/sourcebox-auth-code-snip.PNG') }}" alt="Front of SourceBox Webpage" class="responsive-img">
            <br/>
            <p>This API is essential for the SourceBox platform. This is the main mechanism for creating and authenticating users as well as storing and accessing user RAG data. Every application uses this API in some way.</p>
            <li>
              <ul>
                <li>OpenAI</li>
                <li>Database</li>
                <li>Python</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>Bootstrap</li>
                <li>JSON</li>
                <li>JSON Web Tokens</li>
                <li>API</li>
                <li>etc...</li>
              </ul>
            </li>
            <br/>
            <div class="accordion-body">
              <h3><a href="https://github.com/Sbussiso/sourcebox-llm-api.git">SourceBox Central LLM API(link)</a></h3>
              <img src="{{ url_for('static', filename='images/sourcebox-llm-api-code-pic.PNG') }}" alt="Front of SourceBox Webpage" class="responsive-img">
              <br/>
              <p>This is the SourceBox Central LLM API. ALL the AI requests and responses are processed through this API centralizing LLM usage throughout the SourceBox platform</p>
              <li>
                <ul>
                  <li>OpenAI</li>
                  <li>LangChain</li>
                  <li>Huggingface</li>
                  <li>Deep lake</li>
                  <li>Embedding</li>
                  <li>Vector Algorithms</li>
                  <li>API</li>
                  <li>Python</li>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>JavaScript</li>
                  <li>Bootstrap</li>
                  <li>JSON</li>
                  <li>etc...</li>
                </ul>
              </li>
              <br/>
              <h3><a href="https://github.com/Sbussiso/sourcebox-packman.git">SourceBox Package Manager (link)</a></h3>
              <img src="{{ url_for('static', filename='images/sourcebox-packman-addpack.PNG') }}" alt="Front of SourceBox Webpage" class="responsive-img">
              <br/>
              <li><a href="https://sourcebox-packman-418797343a6b.herokuapp.com/packman">view website here</a></li>
              <p>On SourceBox groups of RAG data are called "Packs" the SourceBox Package Manager (or PackMan) is the main mechanism for aggregating data to be passed around the Sourcebox platform, from uploading local files to scraping webpages to cloud storage such as AWS S3 buckets (coming soon).</p>
              <li>
                <ul>
                  <li>Web Scraping</li>
                  <li>Data Formating</li>
                  <li>Custom API Communication</li>
                  <li>Python</li>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>JavaScript</li>
                  <li>Bootstrap</li>
                  <li>JSON</li>
                  <li>etc...</li>
                </ul>
              </li>

              <h3><a href="https://github.com/Sbussiso/sourcebox-API-endpoint-tester.git">SourceBox API Endpoint Validator</a></h3>
              <img src="{{ url_for('static', filename='images/sb-api-tester-code.PNG') }}" alt="email pic" class="responsive-img">
              <img src="{{ url_for('static', filename='images/sourcebox-api-tester-email-pic.PNG') }}" alt="email pic" class="responsive-img">
              <p>This is an automated script that tests enpoints on the sourcebox platform once a day. The Results are formatted and sent to my email so  I am always up to date on the integrity of my API's</p>
              <li>
                <ul>
                  <li>Python</li>
                  <li>API</li>
                  <li>Testing and Validation</li>
                  <li>smtplib</li>
                </ul>
              </li>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTensorFlowProjects" aria-expanded="false" aria-controls="collapseTensorFlowProjects">
            TensorFlow/ Machine Learning
          </button>
        </h2>
        <div id="collapseTensorFlowProjects" class="accordion-collapse collapse" data-bs-parent="#accordionProjects">
          <div class="accordion-body">
            <h3>Cat and Dog Image Classifier</h3>
            <p><a href="https://colab.research.google.com/drive/10eSXjg2CMW4s_gDD5JpBdC3qJOT3_Tl6?usp=sharing">Cat and Dog Image Classifier (link)</a></p>
            <img src="{{ url_for('static', filename='images/cat-dog-classifier.PNG') }}" alt="email pic" class="responsive-img">
            <p>This project is an image classifier that uses a pre-trained model to classify images of cats and dogs. This project was made to experiment with building and training image classifier models using TensorFlow in Google Colab.</p>
            <li>
              <ul>
                <li>Python</li>
                <li>TensorFlow</li>
                <li>Machine Learning Frameworks</li>
                <li>Data Analysis</li>
              </ul>
            </li>

            <h3>Book Recommendations Using KNN</h3>
            <p><a href="https://colab.research.google.com/drive/1wELBiEvYVDVs4N5UhlUkw6XBkKJKeh2C?usp=sharing">Book Recommendations Using KNN (link)</a></p>
            <img src="{{ url_for('static', filename='images/book-recomendation.PNG') }}" alt="email pic" class="responsive-img">
            <p>This project is a book recommendation system that uses a KNN model to recommend books. This project was made to learn how to build and train recommendation models in Google Colab.</p>
            <li>
              <ul>
                <li>Python</li>
                <li>Scikit-learn</li>
                <li>Machine Learning Frameworks</li>
                <li>Data Analysis</li>
              </ul>
            </li>

            <h3>Health Costs with Regression Model</h3>
            <p><a href="https://colab.research.google.com/drive/1mMLmXLXoKXyXcAEfAHz-S2ONP8gXFeP5?usp=sharing">Health Costs with Regression Model (link)</a></p>
            <img src="{{ url_for('static', filename='images/helth-cost-model.PNG') }}" alt="email pic" class="responsive-img">
            <p>This project was a challenge by FreeCodeCamp to create a model using regression to predict the health costs of an individual based on characteristics of the individual (biological sex?, smoker?, etc.).</p>
            <li>
              <ul>
                <li>Python</li>
                <li>TensorFlow</li>
                <li>Matplotlib</li>
                <li>Google Colab</li>
                <li>Pandas</li>
                <li>Data Analysis</li>
              </ul>
            </li>

            <h3>TensorFlow Fashion Image Model</h3>
            <p><a href="https://colab.research.google.com/drive/1b1rDzOyaVoI77jCv9Znuix46wlkFjiR9?usp=sharing">TensorFlow Fashion Image Model (link)</a></p>
            <img src="{{ url_for('static', filename='images/fashon-model.PNG') }}" alt="email pic" class="responsive-img">
            <p>This project was created to practice building and working with image classifier models using common clothing for identification.</p>
            <li>
              <ul>
                <li>Python</li>
                <li>TensorFlow</li>
                <li>Matplotlib</li>
                <li>Google Colab</li>
                <li>Pandas</li>
                <li>Data Analysis</li>
              </ul>
            </li>

            <h3>SecretML - Confidentiality Detector</h3>
            <p><a href="https://github.com/Sbussiso/ML-Confidentiality-Detector.git">SecretML (link)</a></p>
            <img src="{{ url_for('static', filename='images/secretml-code.PNG') }}" alt="email pic" class="responsive-img">
            <p>This model is built and trained to read text to flag and identify potentially sensitive/classified information. This project can be used to avoid potentially sensitive data leaks or find and exploit them.</p>
            <li>
              <ul>
                <li>Python</li>
                <li>Excel</li>
                <li>Machine Learning Frameworks</li>
                <li>Data Analysis</li>
              </ul>
            </li>
            <h3>Huggingface Sentiment analysis API Endpoint</h3>
            <p><a href="https://github.com/Sbussiso/sourcebox-huggingface-api.git">Sentiment Analysis API (link)</a></p>
            <img src="{{ url_for('static', filename='images/huggingface-api.PNG') }}" alt="email pic" class="responsive-img">
            <p>This API uses a Huggingface pipeline and Flask to accept User API calls, process through the Huggingface pipeline and send a response back to the user. </p>
            <li>
              <ul>
                <li>Python</li>
                <li>Huggingface</li>
                <li>API</li>
                <li>Machine Learning Frameworks</li>
                <li>transformers</li>
                <li>Data Analysis</li>
              </ul>
            </li>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAPIs" aria-expanded="false" aria-controls="collapseAPIs">
            API's
          </button>
        </h2>
        <div id="collapseAPIs" class="accordion-collapse collapse" data-bs-parent="#accordionProjects">
          <div class="accordion-body">
            <h3>Coinbase Trading API with FastAPI</h3>
            <p><a href="https://github.com/Sbussiso/lang-base-trader.git">Coinbase Trading API with FastAPI (link)</a></p>
            <img src="{{ url_for('static', filename='images/coinbase-api-code.PNG') }}" alt="github code" class="responsive-img">
            <img src="{{ url_for('static', filename='images/coinbase-website-pic.PNG') }}" alt="coinbase buy page" class="responsive-img">
            <img src="{{ url_for('static', filename='images/coinbase-orders-screen.PNG') }}" alt="github code" class="responsive-img">
            <p>This project uses FastAPI to utilize the Coinbase Advanced Trade API to simplify API calling to use with crypto trading algorithms. The API also does more than just simplify API endpoints; it also has other trading tools, calculations, and indicators such as RSI, dominant buy or sell pressure, moving averages, etc. In the future, LangChain will be used to incorporate GPT-3 for more usefulness and added trading calculations.</p>
            <li>
              <ul>
                <li>Python</li>
                <li>FastAPI</li>
                <li>Coinbase Advanced Trade API</li>
                <li>Pandas</li>
                <li>Data Analysis</li>
                <li>Async programming</li>
              </ul>
            </li>

            <h3>Central Chat LLM API with LangServe and FastAPI</h3>
            <p><a href="https://github.com/Sbussiso/sourcebox-langserve.git">Central Chat LLM API with LangServe and FastAPI (link)</a></p>
            <img src="{{ url_for('static', filename='images/langserve-fastapi.PNG') }}" alt="colab pic" class="responsive-img">
            <p>The idea for this project was to have one central place to call chat LLM's as opposed to multiple setups in multiple scripts and applications simplifying the access and usage of LLMs from a developer standpoint. Each endpoint is fine-tuned for specific to general use cases from traditional responses to summarizing text, responding to customers, and generating Tweets.</p>
            <li>
              <ul>
                <li>Python</li>
                <li>FastAPI</li>
                <li>OpenAI</li>
                <li>Anthropic</li>
                <li>Machine Learning</li>
                <li>Pandas</li>
                <li>Data Analysis</li>
                <li>Async programming</li>
              </ul>
            </li>

            <h3>User Authentication API with FastAPI</h3>
            <p><a href="https://github.com/Sbussiso/fastapi-auth-example.git">User Authentication API with FastAPI basic example (link)</a></p>
            <img src="{{ url_for('static', filename='images/fastapi-auth-example.PNG') }}" alt="colab pic" class="responsive-img">
            <p>This project uses FastAPI for a user authentication system that can be used on multiple applications and services instead of setting up authentication each time for each application, streamlining security.</p>
            <li>
              <ul>
                <li>Python</li>
                <li>FastAPI</li>
                <li>Pandas</li>
                <li>Data Analysis</li>
                <li>Async programming</li>
              </ul>
            </li>
            <br/>
            <h3><a href="https://github.com/Sbussiso/sourcebox-central-auth.git">SourceBox Central Database and User Authentication(link)</a></h3>
            <img src="{{ url_for('static', filename='images/sourcebox-auth-code-snip.PNG') }}" alt="Front of SourceBox Webpage" class="responsive-img">
            <br/>
            <p>This API is essential for the SourceBox platform. This is the main mechanism for creating and authenticating users as well as storing and accessing user RAG data. Every application uses this API in some way.</p>
            <li>
              <ul>
                <li>OpenAI</li>
                <li>Database</li>
                <li>Python</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>Bootstrap</li>
                <li>JSON</li>
                <li>JSON Web Tokens</li>
                <li>API</li>
                <li>etc...</li>
              </ul>
            </li>
            <br/>
            <div class="accordion-body">
              <h3><a href="https://github.com/Sbussiso/sourcebox-llm-api.git">SourceBox Central LLM API(link)</a></h3>
              <img src="{{ url_for('static', filename='images/sourcebox-llm-api-code-pic.PNG') }}" alt="Front of SourceBox Webpage" class="responsive-img">
              <br/>
              <p>This is the SourceBox Central LLM API. ALL the AI requests and responses are processed through this API centralizing LLM usage throughout the SourceBox platform</p>
              <li>
                <ul>
                  <li>OpenAI</li>
                  <li>LangChain</li>
                  <li>Huggingface</li>
                  <li>Deep lake</li>
                  <li>Embedding</li>
                  <li>Vector Algorithms</li>
                  <li>API</li>
                  <li>Python</li>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>JavaScript</li>
                  <li>Bootstrap</li>
                  <li>JSON</li>
                  <li>etc...</li>
                </ul>
              </li>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSchedulers" aria-expanded="false" aria-controls="collapseSchedulers">
            Schedulers/ Automation
          </button>
        </h2>
        <div id="collapseSchedulers" class="accordion-collapse collapse" data-bs-parent="#accordionProjects">
          <div class="accordion-body">

            <h3><a href="https://github.com/Sbussiso/travel-agent-media-manager.git">Twitter (X) Auto Poster (Link)</a></h3>
            <img src="{{ url_for('static', filename='images/twitter-poster-pic.PNG') }}" alt="github code for twitter poster" class="responsive-img">
            <img src="{{ url_for('static', filename='images/twitter-travel-page.PNG') }}" alt="github code for twitter poster" class="responsive-img">
            <br/>
            <p>This is a schedualed project hosted on heroku that uses ChatGPT and the Twitter (X) API to generate promotional posts to a managed Twitter (X) account to automate buisness marketing.</p>
            <a href="https://x.com/DubeTravels">View twitter (X) here</a>
            <li>
              <ul>
                <li>Marketing</li>
                <li>Python</li>
                <li>Task Scheduling</li>
                <li>Automation</li>
                <li>AI</li>
                <li>Twitter (X) API</li>
              </ul>
            </li>

            <h3><a href="https://github.com/Sbussiso/facebook-auto-post.git">Facebook Auto Poster (Link)</a></h3>
            <img src="{{ url_for('static', filename='images/facebook-autoposter.PNG') }}" alt="Front of SourceBox Webpage" class="responsive-img">
            <img src="{{ url_for('static', filename='images/facebook-travel-page.PNG') }}" alt="github code for twitter poster" class="responsive-img">
            <br/>
            <p>This is a schedualed project hosted on heroku that uses ChatGPT and the Meta API to generate promotional posts to a managed Facebook page to automate buisness marketing.</p>
            <a href="https://www.facebook.com/profile.php?id=61562253463741">View page here</a>
            <li>
              <ul>
                <li>Marketing</li>
                <li>Python</li>
                <li>Task Scheduling</li>
                <li>Automation</li>
                <li>AI</li>
                <li>Meta API</li>
              </ul>
            </li>

            <h3><a href="https://github.com/Sbussiso/instagram-threads-auto-poster.git">Threads Auto Poster (Link)</a></h3>
            <img src="{{ url_for('static', filename='images/threads auto poster.PNG') }}" alt="Front of SourceBox Webpage" class="responsive-img">
            <br/>
            <p>This is a schedualed project hosted on heroku that uses ChatGPT and the Meta API to generate promotional posts to Instagram Threads to automate buisness marketing.</p>
            <li>
              <ul>
                <li>Marketing</li>
                <li>Python</li>
                <li>Task Scheduling</li>
                <li>Automation</li>
                <li>AI</li>
                <li>Meta API</li>
              </ul>
            </li>

            <h3><a href="https://github.com/Sbussiso/notion-receptionist-calendar-worker.git">Google Calendar Event Reschedule Tool</a></h3>
            <img src="{{ url_for('static', filename='images/notion-assistant-calendarAPI.PNG') }}" alt="Front of SourceBox Webpage" class="responsive-img">
            <img src="{{ url_for('static', filename='images/notion-assistant-calendarAPI-second.PNG') }}" alt="Front of SourceBox Webpage" class="responsive-img">
            <br/>
            <p>This is a schedualed project hosted on heroku that uses the Google Calendar API to reschedule missed events and move them up based on the current day.</p>
            <li>
              <ul>
                <li>Google API's</li>
                <li>Google Cloud Platform</li>
                <li>Javascript</li>
                <li>Task Scheduling</li>
                <li>Automation</li>
                <li>Notion API</li>
              </ul>
            </li>

            <h3><a href="https://github.com/Sbussiso/notion-receptionist-todo-generator.git">Notion API TODO Generator</a></h3>
            <img src="{{ url_for('static', filename='images/notion-todo-code.PNG') }}" alt="notion code" class="responsive-img">
            <img src="{{ url_for('static', filename='images/notion API pic.PNG') }}" alt="notion webpage" class="responsive-img">
            <br/>
            <p>This is a schedualed project hosted on heroku that uses ChatGPT, Google Calendar, and the Notion API to generate TODO lists daily based off of my google calendar data.</p>
            <li>
              <ul>
                <li>JavaScript</li>
                <li>Task Scheduling</li>
                <li>Automation</li>
                <li>AI</li>
                <li>Notion API</li>
                <li>Google Calendar API</li>
              </ul>
            </li>

            <h3><a href="https://colab.research.google.com/drive/1VdO__1gfyyEEJ_lzQB86aJD0ZTZzo3_X?usp=sharing">SourceBox API Endpoint Validator</a></h3>
            <img src="{{ url_for('static', filename='images/sb-api-tester-code.PNG') }}" alt="email pic" class="responsive-img">
            <img src="{{ url_for('static', filename='images/sourcebox-api-tester-email-pic.PNG') }}" alt="email pic" class="responsive-img">
            <p>This is an automated script that tests enpoints on the sourcebox platform once a day. The Results are formatted and sent to my email so  I am always up to date on the integrity of my API's</p>
            <li>
              <ul>
                <li>Python</li>
                <li>API</li>
                <li>Testing and Validation</li>
                <li>smtplib</li>
              </ul>
            </li>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePiSecurity" aria-expanded="false" aria-controls="collapsePiSecurity">
            Hardware
          </button>
        </h2>
        <div id="collapsePiSecurity" class="accordion-collapse collapse" data-bs-parent="#accordionProjects">
          <div class="accordion-body">
            <h3><a href="https://github.com/Sbussiso/pi-curity.git">Raspberry Pi Home Security System (link)</a></h3>
            <img src="{{ url_for('static', filename='images/security-cam-project.jpg') }}" alt="security camera setup" class="responsive-img">
            <img src="{{ url_for('static', filename='images/green-motion-box.png') }}" alt="security camera motion detection example" class="responsive-img">
            <br/>
            <p>This is a home security system built using a raspberry pi, python, and a USB camera. This project uses OpenCV to detect motion and record video footage when it is detected. The video is then stored locally in the directory and accessed through the video manager. It will then notify the user(s) through an SMS message.</p>
            <li>Python</li>
            <li>Raspberry Pi</li>
            <li>Computer Vision</li>
            <li>OpenCV</li>
            <li>Flask</li>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTransactionRecorder" aria-expanded="false" aria-controls="collapseTransactionRecorder">
            Database, Vectors, and Embedding
          </button>
        </h2>
        <div id="collapseTransactionRecorder" class="accordion-collapse collapse" data-bs-parent="#accordionProjects">
          <div class="accordion-body">
            <h3><a href="https://github.com/Sbussiso/aws-ebs-deploy-test.git">Flask Transaction Recorder with PostgreSQL</a></h3>
            <p>This is a template site to set up and record data to a PostgreSQL database.</p>
            <img src="{{ url_for('static', filename='images/projectcapture2.PNG') }}" alt="website example" class="responsive-img">
            <img src="{{ url_for('static', filename='images/project-screenshot.PNG') }}" alt="console example" class="responsive-img">
            <li>
              <ul>
                <li>Python</li>
                <li>PostgreSQL</li>
                <li>Databases</li>
                <li>Data Analysis</li>
                <li>Flask</li>
              </ul>
            </li>
            <br/>
            <h3><a href="https://github.com/Sbussiso/sourcebox-codedoc.git">DeepQuery Code</a></h3>
            <p>DeepQuery Code is an application that uses embeddings and vector search algorithms for proccessing and searching large amounts of data allowing for AI chat with an entire github codebase using Openai and DeepLake a vector database. DeepQuery Code also allows you to query documents directly without passing data into the model using just the vector search algorithm. toggle back and fourth with ease. Dont know what to ask? There are AI generated prompts for users to select or just choose "custom prompt" to use your own.</p>
            <img src="{{ url_for('static', filename='images/deepquery-code-first.PNG') }}" alt="DeepQuery Code" class="responsive-img">
            <img src="{{ url_for('static', filename='images/deepquery-code-second.PNG') }}" alt="console example" class="responsive-img">
            <li>
              <ul>
                <li>Python</li>
                <li>DeepLake</li>
                <li>Vector Databases</li>
                <li>Embeddings</li>
                <li>Data Analysis</li>
                <li>Flask</li>
              </ul>
            </li>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDeveloperResume" aria-expanded="false" aria-controls="collapseDeveloperResume">
            Developer Resume Website
          </button>
        </h2>
        <div id="collapseDeveloperResume" class="accordion-collapse collapse" data-bs-parent="#accordionProjects">
          <div class="accordion-body">
            <h3><a href="https://github.com/Sbussiso/developer_resume_website.git">This Website (link)</a></h3>
            <p>This website was made to double as my resume and a project using HTML, CSS, and JavaScript.</p>
            <li>
              <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
              </ul>
            </li>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDataCleaning" aria-expanded="false" aria-controls="collapseDataCleaning">
            Data Cleaning and Validation Testing
          </button>
        </h2>
        <div id="collapseDataCleaning" class="accordion-collapse collapse" data-bs-parent="#accordionProjects">
          <div class="accordion-body">
            <h3><a href="https://colab.research.google.com/drive/1VdO__1gfyyEEJ_lzQB86aJD0ZTZzo3_X?usp=sharing">Data Cleaning With Pandas (link)</a></h3>
            <img src="{{ url_for('static', filename='images/data-cleaning-colab.PNG') }}" alt="colab pic" class="responsive-img">
            <p>This project was made to practice cleaning and manipulating data with pandas.</p>
            <li>
              <ul>
                <li>Python</li>
                <li>Excel</li>
                <li>Google Colab</li>
                <li>Pandas</li>
                <li>Data Analysis</li>
              </ul>
            </li>
          </div>
        </div>
        <div id="collapseDataCleaning" class="accordion-collapse collapse" data-bs-parent="#accordionProjects">
          <div class="accordion-body">
            <h3><a href="https://colab.research.google.com/drive/1VdO__1gfyyEEJ_lzQB86aJD0ZTZzo3_X?usp=sharing">SourceBox API Endpoint Validator</a></h3>
            <img src="{{ url_for('static', filename='images/sb-api-tester-code.PNG') }}" alt="email pic" class="responsive-img">
            <img src="{{ url_for('static', filename='images/sourcebox-api-tester-email-pic.PNG') }}" alt="email pic" class="responsive-img">
            <p>This is an automated script that tests enpoints on the sourcebox platform once a day. The Results are formatted and sent to my email so  I am always up to date on the integrity of my API's</p>
            <li>
              <ul>
                <li>Python</li>
                <li>API</li>
                <li>Testing and Validation</li>
                <li>smtplib</li>
              </ul>
            </li>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTextAdventure" aria-expanded="false" aria-controls="collapseTextAdventure">
            Others
          </button>
        </h2>
        <div id="collapseTextAdventure" class="accordion-collapse collapse" data-bs-parent="#accordionProjects">
          <div class="accordion-body">
            <h3><a href="https://github.com/Sbussiso/c-sharp-fantasy-text-adventure">C# Fantasy Text Adventure (link)</a></h3>
            <p><a href="https://miro.com/app/board/uXjVNBcWu0E=/?share_link_id=375407775521">View choice map here</a></p>
            <p>This project was made to further develop and hone my C# skills. This is a DND-style text adventure game with choices, battles, puzzles, and dice rolls played in the command line console.</p>
            <li>
              <ul>
                <li>C#</li>
              </ul>
            </li>

            <h3><a href="https://github.com/Sbussiso/c-sharp-fantasy-text-adventure">Travel Agent Business with Chatbot</a></h3>
            <p><a href="https://travel-agent-website-6866acd2fbc4.herokuapp.com/">View Website Here</a></p>
            <img src="{{ url_for('static', filename='images/dube-travels-web-pic.PNG') }}" alt="travel agent website" class="responsive-img">
            <p>This is a business website to demonstrate integrations and chat features for a seamless user experience. This site is integrated with facebook and twitter to display and direct users to social media. The website also has an chatbot feature.</p>
            <li>
              <ul>
                <li>Python</li>
                <li>Flask</li>
                <li>AI</li>
                <li>Meta API</li>
                <li>Twitter (X) API</li>
              </ul>
            </li>

          </div>
        </div>
      </div>
    </div>
    
    <section id="contact" class="p-3">
      <h2>Questions/Comments</h2>
      <form action="/send_message" method="post">
          <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required>
          </div>
          <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" required>
          </div>
          <div class="form-group">
              <label for="message">Message</label>
              <textarea class="form-control" id="message" name="message" rows="4" placeholder="Your Message" required></textarea>
          </div>
          <br/>
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </section>
  </main>
  <footer>
    <p>© 2023 S'Bussiso Dube</p>
  </footer>

  <!-- The Modal -->
  <!-- Bootstrap Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel">Status</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Accepting employment opportunities and <a href="#">Freelance Requests</a>.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!--chatbot-->
  <div class="chatbot" id="chatbot">
    <div class="chatbot-header">
        What do you want to know about me?
    </div>
    <div class="chatbot-body">
        <div id="chatbot-conversation" style="max-height: 200px; overflow-y: auto;"></div>
        <textarea id="chatbot-input" class="form-control" placeholder="Type your message..."></textarea>
        <button id="chatbot-send" type="button" class="btn btn-success mt-2">Send</button>
    </div>
  </div>


  <!--bootstrap-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <!--popup javascript-->
  <script>
    window.onload = function() {
        // Automatically show the modal when the page loads
        var myModal = new bootstrap.Modal(document.getElementById('myModal'), {});
        myModal.show();

        // Chatbot functionality
        var chatbot = document.getElementById('chatbot');
        var chatbotBody = document.querySelector('.chatbot-body');
        var chatbotSend = document.getElementById('chatbot-send');
        var chatbotInput = document.getElementById('chatbot-input');
        var chatbotConversation = document.getElementById('chatbot-conversation');

        // Toggle chatbot expansion
        chatbot.addEventListener('click', function(event) {
            if (event.target.closest('.chatbot-body') === null) {
                this.classList.toggle('expanded');
            }
        });

        // Prevent clicks inside chatbot body from collapsing the chatbot
        chatbotBody.addEventListener('click', function(event) {
            event.stopPropagation();
        });

        // Handle sending a message in the chatbot
        chatbotSend.addEventListener('click', function() {
            var userMessage = chatbotInput.value;
            if (userMessage.trim() !== "") {
                displayMessage("You", userMessage);
                chatbotInput.value = "";

                fetch('/chat_assistant', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ message: userMessage })
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Response data:', data);  // Log the response data for debugging
                    if (data.message) {
                        displayMessage("Assistant", data.message);
                    } else {
                        console.error('No message in response:', data);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }
        });

        // Display message in the chatbot
        function displayMessage(sender, message) {
            console.log('Displaying message:', message);  // Log the message to be displayed for debugging
            var messageElement = document.createElement('div');
            messageElement.innerHTML = `<strong>${sender}:</strong> ${message}`;
            chatbotConversation.appendChild(messageElement);
            chatbotConversation.scrollTop = chatbotConversation.scrollHeight;
        }
    };
  </script>

</body>
</html>
